body {
    position: relative;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.conteudo {
    flex: 1;
    text-align: center;
    background-color: #542954;
    color: #e5c2d6;
    padding: 20px;
}

header {
    background-color: #0c1527;
    color: #fdfdf8;
    padding: 20px;
    height: 10vh;
}

/* Alinhando o texto à direita */
.texto-especifico {
    text-align: right;
    /* Alinha o texto à direita */
}

/* Dividindo o texto em várias linhas */
.texto-especifico span {
    display: inline-block;
    word-wrap: break-word;
}

.cima {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

img {
    width: 5%;
    border-radius: 60%;
}

.main-container{
    height: 80vh;
}

.contato{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

iframe{
    width: 50vw;
    height: 50vh;
}

.imagem-especifica1 {
    width: 200px;
    height: auto;
    border-radius: 0%;
    position: absolute;
    left: 0;
   /*  z-index: -1; */
    /* Coloca a imagem por trás do conteúdo */
    /* top: 0;  */
    /* Posiciona a partir do topo da tela */
    /* border: 2px solid red; */
    /* Defina a borda com a cor e espessura desejadas */
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: #652047;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #542954;
    color: #e5c2d6;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 10vh;
}